* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile -text
/NEWS -text
/README -text
/TODO -text
/apertium-fr-nl.fr-nl.dix -text
/apertium-fr-nl.fr-nl.t1x -text
/apertium-fr-nl.fr.dix -text
/apertium-fr-nl.nl-fr.t1x -text
/apertium-fr-nl.nl.dix -text
/apertium-fr-nl.post-fr.dix -text
/fr-nl.prob -text
/modes.xml -text
/nl-fr.prob -text
/nl.top.20000.txt -text
